body{
    background: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slC{
    width: 100%;
    height: 500px;
    box-shadow: inset 0px 0px 2px green;    
    /* overflow: hidden; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.slImg{
    height: 500px;
    grid-column: 1/-1;
    grid-row: 1/-1;
    background-image: url(../img/sl1.jpg);
    background-size: cover;
    background-position: center;
}
.slImgMask{
    width: 100%;
    height: 500px;
    grid-column: 1/-1;
    grid-row: 1/-1;
    opacity: 50%;
    background: #AA0303;
    background: -webkit-radial-gradient(top right, #AA0303, #000000);
    background: -moz-radial-gradient(top right, #AA0303, #000000);
    background: radial-gradient(to bottom left, #AA0303, #000000);
    position: absolute;    
}
.slLogo{
    grid-column: 1/2;
    grid-row: 1/2;    
    width: 100%;
    height: 100%;    
    align-self: center;
    justify-self: center;
    background-image: url(../img/slLogo.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: bottom;
    z-index: 1;
}
.slSocial{
    grid-column: 2/-1;
    grid-row: 1/2;    
    width: 100%;
    height: 100%;    
    align-self: center;
    justify-self: center;
    background-image: url(../img/slSocial.svg);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;    
    z-index: 1;
}
.slIconC{    
    width: 300px;
    height: 340px;
    transform: translateY(-20px);
    grid-column: 1/-1;
    grid-row: 2/-1;
    align-self: end;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);    
}
.slIconC-Icon{    
    grid-column: 1/-1;
    grid-row: 1/4;    
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);

}
.slIconC-Nav{
    cursor: pointer;
    width: 100%;
    height: 100%;    
    grid-column: 1/-1;
    grid-row: 4/-1;
    background-image: url(../img/slNav.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 bottom;
}