* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 0;
  }  
  /* html {
    scroll-behavior: smooth;
  }   */
  body {
    font-family: 'Patua One', cursive;
    font-size: 1rem;
    min-height: 100%;
    text-align: center;
    background: #000;
  }
  a {
    list-style: none;
    text-decoration: none;
    color: #000;
}
.grid-container  > * {
    box-shadow: inset -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    /* padding: 10px; */
  }