/* .slide-ors{
    width: 100vw;
    height: 100vw;
    background: #f00;
} */
.img-sl1{
    background-image: url(../img/2uno.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.sl-orsImag{
    height: 150vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);    
    grid-gap: 2px;
    align-items: center;
    justify-items: center;
}
.slRedes{    
    height: 50%;    
    grid-column: 1/1;
    grid-row: 1/1;
}
.slLogo{    
    height: 120%;
    grid-column: 1/1;
    grid-row: 2/3;    
}
.imgIcon{    
    height: 90%;
    grid-column: 1/1;
    grid-row: 3/5;
}
.slNav{    
    height: 80%;
    grid-column: 1/1;
    grid-row: 5/6;
}
.slFooter{    
    height: 80%;
    grid-column: 1/1;
    grid-row: 6/7;
}
