body{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ccc;
    background: rgb(221,221,221);
    background: linear-gradient(90deg, rgba(221,221,221,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(221,221,221,1) 100%);    
}
.cuerpo{
    width: 90%;
    height: 100vh;
    background: rgba(0,0,0,.5);
    margin-left: 5%;
}